<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand px-5" href="#">
      <img
        src="/assets/images/logo.jpg"
        style="height: 50; width: 50px"
        alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main_nav"
    >
      <span class="navbar-toggler-icon"
        ><i class="bi bi-distribute-vertical py-2 text-white"></i></span>
    </button>
    <div class="collapse navbar-collapse lg-px-5" id="main_nav">
      <ul class="navbar-nav px-5">
        <li class="nav-item">
          <a class="nav-link me-3" href="#home"> Home </a>
        </li>
        <!-- <a class="nav-link" href="http://">Apply</a> -->
        <li class="nav-item">
          <a class="nav-link me-3" href="#about"> About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="#skills"> Skills </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="#projects"> Projects </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="#experience"> Experience </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="#education"> Education </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="#certificate"> Certification </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact"> Contact </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <div class="icons">
          <!-- Add font awesome icons -->
          <a
            href="https://www.github.com/PiusAsh/"
            target="_blank"
            class="bi bi-github me-5"
          ></a>
          <a
            href="https://www.facebook.com/piusashohgbon.godwin/"
            target="_blank"
            class="bi bi-facebook me-5"
          ></a>
          <a
            href="https://twitter.com/Ashnaija"
            target="_blank"
            class="me-5 bi bi-twitter"
          ></a>
          <a
            href="https://www.linkedin.com/in/piusash/"
            target="_blank"
            class="me-5 bi bi-linkedin"
          ></a>
          <a
            href="https://www.instagram.com/in/piusash/"
            target="_blank"
            class="bi bi-instagram"
          ></a>
        </div>
      </ul>
    </div>
  </div>
</nav>

<!-- Navbar -->
<div class="container" id="home">
  <div class="row">
    <div class="col-lg-7">
      <h1 class="hello">Hello, I'm</h1>
      <p class="name">Pius Ashogbon</p>
      <p class="titlehead">Software Developer | WordPress Developer</p>
      <p class="des mt-1">
Versed in following established procedures and working under little or no supervision. Offering technical expertise in programming analysis, application analysis and design. Excellent team player with in-depth knowledge of development tools and languages.
      </p>
      <div class="py-3">
        <a class="btnhero" href="/assets/images/Pius Ashogbon CV.pdf" download>Download Resume</a>
        <!-- <button class="btnhero">Download Resume</button> -->
      </div>
    </div>
    <div class="col-lg-5">
      <!-- <div class="img-col"> -->
        <div class="imgg"></div>
        <!-- <img class="imgg" src="/assets/images/me.jpg" style="height: 20%" alt="Pius" /> -->
      <!-- </div> -->
    </div>
  </div>
</div>

<!-- ABOUT ME -->
<div class="row bg-light py-5" id="about">
  <div class="container py-5">
    <div class="container text-left">
      <p class="tileabout text">INNOVATIVE SOLUTIONS</p>
      <p class="sub py-3">To boost your creative projects</p>
      <p class="desabout">
I'm a software developer proficient in building and optimizing software solutions. Bringing a consistent record of producing quality deliverables. Contributes expertise to all stages of the software development lifecycle. <br>
Proficient <b class="fs-5">Software Developer</b> & <b class="fs-5">WordPress Developer</b> with years of experience in the industry. Excellent reputation for resolving problems and improving customer satisfaction.
      </p>
    </div>
  </div>
</div>

<!-- SKILLS -->

<div class="container" id="skills">
  <div class="row py-5">
    <div class="text-left">
      <p class="tile text">SKILLS</p>
      <p class="sub">To boost your creative projects</p>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <div class="content-column-content">
          <!-- Expertise Section        -->
          <section class="">
            <div class="container py-5">
              <div class="row mb-5">
                <div class="col-md-6">
                  <h3 class="h4 fw-bold">
                    <span class="SN fw-bold me-2">01</span>Angular
                  </h3>
                  <p class="text-sm ms-4 ps-3">
                    <ul class=" text-sm ms-4 ps-3">
                    <li>Develop user interfaces for a rich user experience</li>
                    <li>Comfortable with API endpoints</li>
                    <li>Drive the product from conception to deployment independently, with a strong emphasis on performance, quality, and security</li>
                    <li>Modify existing UI application</li>
                   
                    <li>Proficient in Angular 2+ and Typescript</li>
                    <li>Make design and technical decisions for Angular projects</li>
                    <li>Create unit tests to ensure codes are functioning as expected.</li>
                    

                  </ul>

                </div>
                <div class="col-md-6">
                  <h3 class="h4 fw-bold">
                    <span class="SN fw-bold me-2">02</span> .NET ( C# )
                  </h3>
                  <p class="text-sm ms-4 ps-3">
                    <ul class=" text-sm ms-4 ps-3">
                    <li>Create, test, and debug software programs</li>
                    <li>ASP.Net Core Web API</li>
                    <li>C#</li>
                    <li>JavaScript or Typescript</li>
                    <li>Restful Services</li>
                    <li>Microsoft SQL Database</li>
                   
                    
                    

                  </ul>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <h3 class="h4 fw-bold">
                    <span class="SN fw-bold me-2">03</span>WordPress
                  </h3>
                  <p class="text-sm ms-4 ps-3">
<ul class=" text-sm ms-4 ps-3">
                    <li>Elementor Free & Pro</li>
                    <li>eCommerce website</li>
                    <li>Landing Pages Design using Elementor</li>
                    <li>Figma to WordPress using Elementor
</li>
                    <li>Search Engine Optimization (SEO)</li>
                    <li>Theme Customization</li>
                    <li>Experience with Elementor & WPBakery</li>

                  </ul>
                  
                </div>
                <div class="col-md-6">
                  <h3 class="h4 fw-bold">
                    <span class="SN fw-bold me-2">04</span>Graphic Design
                  </h3>
<ul class=" text-sm ms-4 ps-3">
                    <li>Define the visual style and position relative to design guidelines</li>
                    <li>Familiarity with design software and technologies (such as canva, PixelLab, and other online design tools).</li>
                    <li>Using important principles of composition in designs</li>
                    <li>Creating a wide range of graphics and layouts for product illustrations, company logos, and websites</li>
                    

                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h3 class="h4 fw-bold">
                    <span class="SN fw-bold me-2">05</span>Others
                  </h3>
                  <p class="text-muted text-sm ms-4 ps-3">
                    <!-- <p class="fw-bold">Familiar with:</p> -->
<ul class=" text-sm ms-4 ps-3">
                    <li>Hosting</li>
                    <li>Deployment</li>
                    <li>cPanel</li>
                    <li>Search Engine Optimization (SEO)</li>
                    <li>Digital Marketing</li>
                    <li>Google Adsense / Google Admob</li>
                  </ul>
                  
                </div>
                <div class="col-md-6"></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PROJECT -->
<div class="row bg-light py-5" id="projects">
  <div class="container py-5">
    <div class="container text-left">
      <p class="tile text">PROJECTS</p>
      <p class="sub mb-3">To boost your creative projects</p>

      <nav class="text-center tabb py-3">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
            Angular
          </button>
          <button
            class="nav-link"
            id="nav-asp-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-asp"
            type="button"
            role="tab"
            aria-controls="nav-asp"
            aria-selected="true"
          >
            ASP.NET Core
          </button>
          <button
            class="nav-link"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
          >
            WordPress
          </button>
          <button
            class="nav-link"
            id="nav-contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-contact"
            type="button"
            role="tab"
            aria-controls="nav-contact"
            aria-selected="false"
          >
            React
          </button>
          <button
            class="nav-link"
            id="nav-design-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-design"
            type="button"
            role="tab"
            aria-controls="nav-design"
            aria-selected="false"
          >
            Graphic Design
          </button>

        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          <div class="row">
            <!-- <div class="col-lg-1"></div> -->
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img
                    src="/assets/images/hotel.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">Hotel MGT System</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>Authentication & Role based Authorization</li>
                    <li>Payment Gateway Integration</li>
                    <li>User dashboard</li>
                    <li>Booking system</li>
                    <li>Admin dashboard</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" routerLink="/room"
                    ><p class="book">Project Info</p></a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img
                    src="/assets/images/loan.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">ASH Bank (FINTECH)</h5>
                  <p class="card-text"></p>
                  <ul class="card-text p-2">
                    <li>Authentication & Role based Authorization</li>
                    <li>Payment Gateway Integration</li>
                    <li>User dashboard</li>
                    <li>Admin dashboard</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" routerLink="/room"
                    ><p class="book">Project Info</p></a
                  >
                </div>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img
                    src="/assets/images/hotel.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">Braintech Website</h5>
                  <p class="card-text"></p>
                  <ul class="card-text p-2">
                    <li>Homepage</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Blog</li>
                    <li>Contact</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" routerLink="/room"
                    ><p class="book">Project Info</p></a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img
                    src="/assets/images/hotel.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating">5.0</p>
                <div class="card-body">
                  <h5 class="card-title text-center">Hotel Website</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>CRUD OPERATION ONLY</li>
                    <li>POST</li>
                    <li>PUT</li>
                    <li>GET</li>
                    <li>UPDATE</li>
                    <li>DELETE</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" routerLink="/room"
                    ><p class="book">Project Info</p></a
                  >
                </div>
              </div>
            </div>

            <!-- <div class="col-lg-1"></div> -->
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-asp"
          role="tabpanel"
          aria-labelledby="nav-asp-tab"
        >
          ASP.NET
        </div>
        <div
          class="tab-pane fade"
          id="nav-figma"
          role="tabpanel"
          aria-labelledby="nav-figma-tab"
        >
          Figma
        </div>
        <div
          class="tab-pane fade"
          id="nav-design"
          role="tabpanel"
          aria-labelledby="nav-design-tab"
        >
          Design
        </div>
        <!-- WORDPRESS TAB -->
        <div
          class="tab-pane fade"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
          <div class="row">
            <!-- <div class="col-lg-1"></div> -->
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img
                    src="/assets/images/hotel.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">Hotel MGT System</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>Authentication & Role based Authorization</li>
                    <li>Payment Gateway Integration</li>
                    <li>User dashboard</li>
                    <li>Booking system</li>
                    <li>Admin dashboard</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" routerLink="/room"
                    ><p class="book">Project Info</p></a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img
                    src="/assets/images/hotel.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating">5.0</p>
                <div class="card-body">
                  <h5 class="card-title text-center">Loan Calculator</h5>
                  <p class="card-text"></p>
                  <ul class="card-text p-2">
                    <li>Authentication & Role based Authorization</li>
                    <li>Payment Gateway Integration</li>
                    <li>User dashboard</li>
                    <li>Admin dashboard</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" routerLink="/room"
                    ><p class="book">Project Info</p></a
                  >
                </div>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img
                    src="/assets/images/hotel.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating">5.0</p>
                <div class="card-body">
                  <h5 class="card-title text-center">Braintech</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>Authentication & Role based Authorization</li>
                    <li>Payment Gateway Integration</li>
                    <li>User dashboard</li>
                    <li>Admin dashboard</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" routerLink="/room"
                    ><p class="book">Project Info</p></a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img
                    src="/assets/images/hotel.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating">5.0</p>
                <div class="card-body">
                  <h5 class="card-title text-center">Loan Application</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>Authentication & Role based Authorization</li>
                    <li>Payment Gateway Integration</li>
                    <li>User dashboard</li>
                    <li>Admin dashboard</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" routerLink="/room"
                    ><p class="book">Project Info</p></a
                  >
                </div>
              </div>
            </div>

            <!-- <div class="col-lg-1"></div> -->
          </div>
        </div>
        <!-- END OF WORDPRESS TAB -->

        <!-- REACT TAB -->
        <div
          class="tab-pane fade"
          id="nav-contact"
          role="tabpanel"
          aria-labelledby="nav-contact-tab"
        >
          <div class="row">
            <!-- <div class="col-lg-1"></div> -->
            <div class="col-lg-3">
              <div class="card shadow mb-3">
                <div>
                  <img
                    src="/assets/images/hotel.PNG"
                    alt="hotel"
                    class="card-img-top"
                  />
                </div>
                <p class="rating"></p>
                <div class="card-body">
                  <h5 class="card-title text-center">Hotel MGT System</h5>
                  <p class="card-text"></p>
                  <ul class="card-text">
                    <li>Authentication & Role based Authorization</li>
                    <li>Payment Gateway Integration</li>
                    <li>User dashboard</li>
                    <li>Booking system</li>
                    <li>Admin dashboard</li>
                  </ul>
                  <!-- </p> -->
                  <a class="text-decoration-none text-white" routerLink="/room"
                    ><p class="book">Project Info</p></a
                  >
                </div>
              </div>
            </div>


            <!-- <div class="col-lg-1"></div> -->
          </div>
        </div>

        <!-- END OF REACT TAB -->
      </div>

      <!-- <div class="row">
        <div class="col-lg-3 mb-3">
          <div class="pro">

            <div class=" card-header text-center text-white">
              Hotel Management System
            </div>
          
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="pro">
            <div class=" card-header text-center text-white">
            Loan Application
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="pro">
            <div class=" card-header text-center text-white">
              Finance
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="pro">
            <div class=" card-header text-center text-white">
              Hotel Management System
            </div>
        </div>
    </div>
        <div class="col-lg-3 mb-3">
          <div class="pro">
            <div class=" card-header text-center text-white">
              Hotel Management System
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="pro">
            <div class=" card-header text-center text-white">
              Hotel Management System
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="pro">
            <div class=" card-header text-center text-white">
              Hotel Management System
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="pro">
            <div class=" card-header text-center text-white">
              Hotel Management System
            </div>
        </div>
    </div>
      </div> -->
    </div>
  </div>
</div>

<!-- EXPERIENCE -->
<div class="row" id="experience">
  <div class="container py-5">
    <div class="container text-left">
      <p class="tile text">EXPERIENCE</p>
      <p class="sub">Yes, I.ve been around.</p>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-xl-12">
          <div class="content-column-content">
            <!-- Education Section-->
            <section class="py-5">
              <div class="container">
                <!--  Timeline -->
                <ul class="timeline">
                  <!-- Timeline item-->
                  <li class="timeline-item pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row gx-0 gy-4">
                      <div class="col-lg-5">
                        <p class="date fw-bold mb-2 text-sm">March 2022 - Present</p>
                        <h2 class="h5 mb-0 fw-bold">Software Developer</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          Information Engineering Technologies Limited
                        </p>
                        <span class="small text-muted">Lagos, Nigeria</span>
                      </div>
                      <div class="col-lg-7">
                        <p class="des py-2"></p>
                        <ul>
                          <li>
                            Collaborate productively with the product team to
                            understand requirements and business specifications
                            around portfolio management, analytics, and risk.
                          </li>
                          <li>
                            Update old code bases to modern development
                            standards, improving functionality.
                          </li>
                          <li>
                            Developed software for desktop and mobile operating
                            systems.
                          </li>
                          <li>
                            Coordinated with project management on database
                            development timelines.
                          </li>
                          <li>
                            Designed intuitive graphical user interfaces to
                            improve user experience.
                          </li>
                          <li>
                            Solved complex problems using the latest web
                            technologies.
                          </li>
                        </ul>
                        <b
                          >Skills: Jira · Angular · C# · Microsoft SQL Server ·
                          ASP.NET · .NET Framework · Bootstrap · Project
                          Management</b
                        >
                      </div>
                    </div>
                  </li>
                  <!-- Timeline item-->
                  <hr class="dropdown-divider mb-2" />
                  <li class="timeline-item pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row gx-0 gy-4">
                      <div class="col-lg-5">
                        <p class="date fw-bold mb-2 text-sm">
                          May 2022 - Nov 2022
                        </p>
                        <h2 class="h5 mb-0 fw-bold">WordPress Developer</h2>
                        <p class="text-sm mb-0">
                          Digitalweb Applications Development Limited
                        </p>
                        <span class="small text-muted">Lagos, Nigeria</span>
                      </div>
                      <div class="col-lg-7">
                        <p class="des py-2"></p>

                        <ul>
                          <li>
                            Built WordPress websites using Elementor & WPBakery
                          </li>
                          <li>
                            Prepare website proposals to present to clients
                          </li>
                          <li>Write code using HTML and CSS.</li>
                          <li>Design new features for existing websites</li>
                          <li>
                            Customize themes to meet clients’ requirements.
                          </li>
                          <li>Integrating payment gateway</li>
                          <li>
                            Manage a user guide to help clients understand site
                            features and management of the website to increase
                            visitor satisfaction and more.
                          </li>
                        </ul>

                        <p>
                          <b
                            >Skills: WooCommerce · JavaScript · WordPress ·
                            Digital Marketing · Graphic Design · HTML</b
                          >
                        </p>
                      </div>
                    </div>
                  </li>
                  <!-- Timeline item-->
                  <hr class="dropdown-divider mb-2" />
                  <li class="timeline-item pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row gx-0 gy-4">
                      <div class="col-lg-5">
                        <p class="date fw-bold mb-2 text-sm">
                          Nov 2021 - Feb 2022
                        </p>
                        <h2 class="h5 mb-0 fw-bold">
                          Frontend Developer Intern
                        </h2>
                        <p class="text-sm mb-0">Innkeeper</p>
                        <span class="small text-muted">Lagos, Nigeria</span>
                      </div>
                      <div class="col-lg-7">
                        <p class="des py-2"></p>

                        <ul>
                          <li>
                            Implementing web design and development principles
                            to build stable software
                          </li>
                          <li>
                            Bringing mock-ups to life using HTML, CSS, and
                            JavaScript. Collaborating closely with the team to
                            support projects during all phases of delivery.
                          </li>
                          <li>
                            Building websites and apps that are responsive and
                            usable.
                          </li>
                          <li>
                            Monitoring website performance and rectifying
                            front-end-related issues.
                          </li>
                          <li>
                            Communicating technical issues in an understandable
                            manner to the team.
                          </li>
                          <li>
                            Maintaining an organized workflow using a project
                            management tool (like Trello, or GitHub).
                          </li>
                        </ul>

                        <p>
                          <b
                            >Skills: Figma (Software) · React.js · JavaScript ·
                            Bootstrap · Cascading Style Sheets (CSS) · Project
                            Management · HTML5</b
                          >
                        </p>
                      </div>
                    </div>
                  </li>
                  <hr class="dropdown-divider mb-3" />
                  <!-- Timeline item-->
                  <li class="pb-4">
                    <div class=""></div>
                    <div class="row gx-0 gy-1">
                      <div class="col-lg-5">
                        <p class="date fw-bold mb-2 text-sm">2018 - 2021</p>
                        <h2 class="h5 mb-0 fw-bold">WordPress Development</h2>
                        <p class="text-sm mb-0">Ashconcept Digital solutions</p>
                        <span class="small text-muted">Lagos, Nigeria</span>
                      </div>
                      <div class="col-lg-7">
                        <p class="des"></p>

                        <ul>
                          <li>
                            Built WordPress websites using Elementor & WPBakery
                          </li>
                          <li>
                            Prepare website proposals to present to clients
                          </li>
                          <li>Write code using HTML and CSS.</li>
                          <li>Design new features for existing websites</li>
                          <li>
                            Customize themes to meet clients’ requirements.
                          </li>
                          <li>Integrating payment gateway</li>
                          <li>
                            Manage a user guide to help clients understand site
                            features and management of the website to increase
                            visitor satisfaction and more.
                          </li>
                        </ul>
                        <p>
                          <b
                            >Skills: WooCommerce · JavaScript · WordPress ·
                            Digital Marketing · Graphic Design · HTML</b
                          >
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDUCATION -->
<div class="row bg-light" id="education">
  <div class="container">
    <div class="container text-left">
      <p class="tile text mt-5">EDUCATION</p>
      <!-- <p class="sub">Yes, I.ve been around.</p> -->
    </div>
    <div class="row">
      <div class="row">
        <div class="col-xl-12">
          <div class="content-column-content">
            <!-- Education Section-->
            <section class="py-5">
              <div class="container">
                <!--  Timeline -->
                <ul class="timeline">
                  <!-- Timeline item-->
                  <li class="timeline-item pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row gx-0 gy-4">
                      <div class="col-lg-5">
                        <p class="date fw-bold mb-2 text-sm">2018 - 2021</p>
                        <h2 class="h5 mb-0 fw-bold">National Diploma</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          Yaba College of Technology
                        </p>
                        <span class="small text-muted">Lagos, Nigeria</span>
                      </div>
                      <div class="col-lg-7">
                        <p class="des py-2"></p>
                        <ul>
                          <li>
                            Developed software for desktop and mobile operating
                            systems.
                          </li>
                          <li>
                            Coordinated with project management on database
                            development timelines.
                          </li>
                          <li>
                            Designed intuitive graphical user interfaces to
                            improve user experience.
                          </li>
                          <li>
                            Solved complex problems using the latest web
                            technologies.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <!-- Timeline item-->
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="container" id="certificate">
    <div class="container text-left">
      <p class="tile text">CERTIFICATION</p>
      <!-- <p class="sub">Yes, I.ve been around.</p> -->
    </div>
    <div class="row">
      <div class="row">
        <div class="col-xl-12">
          <div class="content-column-content">
            <!-- Education Section-->
            <section class="py-3">
              <div class="container">
                <!--  Timeline -->
                <ul class="timeline">
                  <!-- Timeline item-->
                  <li class="timeline-item pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row gx-0 gy-4 mb-4">
                      <div class="col-lg-4">
                        <p class="date fw-bold mb-2 text-sm">February 2022</p>
                        <h2 class="h5 mb-0 fw-bold">Frontend Development</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          Innkeeper
                        </p>
                        <!-- <span class="small text-muted">Lagos, Nigeria</span> -->
                      </div>
                      <div class="col-lg-4">
 <p class="date fw-bold mb-2 text-sm">August 2022</p>
                        <h2 class="h5 mb-0 fw-bold">SQL MasterClass</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          Udemy
                        </p>
                        <!-- <span class="small text-muted">Lagos, Nigeria</span> -->
                      </div>
                      <div class="col-lg-4">
 <p class="date fw-bold mb-2 text-sm">July 2021</p>
                        <h2 class="h5 mb-0 fw-bold">Digital Marketing Fundamental</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          India Institute of Digital Education
                        </p>
                        <!-- <span class="small text-muted">Mumbai, India</span> -->
                      </div>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="row gx-0 gy-4">
                      <div class="col-lg-4">
                        <p class="date fw-bold mb-2 text-sm">June 2020</p>
                        <h2 class="h5 mb-0 fw-bold">WordPress Development</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          Webbit Technologies
                        </p>
                        <!-- <span class="small text-muted">Edo, Nigeria</span> -->
                      </div>
                      <div class="col-lg-4">
 <p class="date fw-bold mb-2 text-sm">June 2022</p>
                        <h2 class="h5 mb-0 fw-bold">Project Management</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          Simplilearn
                        </p>
                        <!-- <span class="small text-muted">Lagos, Nigeria</span> -->
                      </div>
                      <div class="col-lg-4">
 <p class="date fw-bold mb-2 text-sm">September 2021</p>
                        <h2 class="h5 mb-0 fw-bold">Graphic Design MasterClass</h2>
                        <p class="text-sm mb-0 text-black fw-800">
                          VSL Concepts
                        </p>
                        <!-- <span class="small text-muted">Edo, Nigeria</span> -->
                      </div>
                    </div>
                  </li>
                  <!-- Timeline item-->
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CONTACT -->
<div class="row" id="contact">
  <div class="col-lg-6">
    <div class="contactInfo">
      <div class="py-5">
        <h3 class="touch mt-5 mb-2">Let's get in touch</h3>
        <p class="des">
          Contact me with the following details or fill up the form with the
          details.
        </p>
        <div class="info py-2">
          <p class="desfoot">
            <i class="bi bi-geo-alt"></i> Oworoshoki Lagos, Nigeria
          </p>
        </div>
        <div class="info mb-2">
          <p class="desfoot">
            <i class="me-2 bi bi-envelope-fill"></i>Pius1ash@gmail.com
          </p>
        </div>
        <div class="info">
          <p class="desfoot">
            <i class="me-1 bi bi-telephone"></i>+2349052794388
          </p>
        </div>
        <div class="social-media">
          <p class="des">Connect with me :</p>
          <div class="social-icons">
            <a href="#"> <i class="foot bi bi-github"></i> </a>
            <a href="#"> <i class="foot bi bi-facebook"></i> </a>
            <a href="#"> <i class="foot bi bi-twitter"></i> </a>
            <a href="#"> <i class="foot bi bi-instagram"></i> </a>
            <a href="#"> <i class="foot bi bi-linkedin"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 contactBg">
    <div class="contactForm">
      <form autocomplete="off">
        <h3 class="title">Contact us</h3>
        <div class="mb-2">
          <input type="email" class="input" id="name" placeholder="Name" />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="input"
            id="email"
            placeholder="Email Address"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="input"
            id="phone"
            placeholder="Phone Number"
          />
        </div>
        <div class="mb-2">
          <textarea
            id="message"
            placeholder="Enter your message"
            class="input"
          ></textarea>
        </div>

        <!-- <div class="mb-2 form-check">
    <input type="checkbox" class="form-check-input" id="verify">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
        <button type="submit" class="btn btn-primary w-100">
          Send Message
        </button>
      </form>
    </div>
    <p class="text-white text-center mb-2">
      © 2022 | Pius Ashogbon. All Rights Reserved.
    </p>
  </div>
</div>
<!-- CONTACT -->
