

 <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand px-5" href="#">                <img src="/assets/images/logo.jpg" style="height: 50; width: 50px;" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse lg-px-5" id="main_nav">
                <ul class="navbar-nav px-5">
                    <li class="nav-item"><a class="nav-link" href="#home"> Home </a></li>
                    <!-- <a class="nav-link" href="http://">Apply</a> -->
                    <li class="nav-item"><a class="nav-link" href="#about"> About </a></li>
                    <li class="nav-item"><a class="nav-link" href="#skills"> Skills </a></li>
                    <li class="nav-item"><a class="nav-link" href="#projects"> Projects </a></li>
                    <li class="nav-item"><a class="nav-link" href="#experience"> Experience </a></li>
                    <li class="nav-item"><a class="nav-link" href="#experience"> Education </a></li>
                    <li class="nav-item"><a class="nav-link" href="#certification"> Certification </a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact"> Contact </a></li>
                    
                </ul>
                <ul class="navbar-nav ms-auto">
                                    <div class="icons">

                    <!-- Add font awesome icons -->
                    <a href="https://www.github.com/PiusAsh/" target="_blank" class="bi bi-github me-5"></a>
                    <a href="https://www.facebook.com/piusashohgbon.godwin/" target="_blank" class="bi bi-facebook me-5"></a>
                    <a href="https://twitter.com/Ashnaija" target="_blank" class="me-5 bi bi-twitter"></a>
                    <a href="https://www.linkedin.com/in/piusash/" target="_blank" class="me-5 bi bi-linkedin"></a>
                    <a href="https://www.instagram.com/in/piusash/" target="_blank" class="bi bi-instagram"></a>
                </div>
                    
                </ul>
            </div>
        </div>
    </nav>
   <!-- Navbar -->
   <div class="container" id="home">
       <div class="row" >
    
        <div class="col-lg-7 ">
<h1 class="hello">Hello, I'm</h1>
<p class="name">Pius Ashogbon</p>
<p class="titlehead">Software Developer | WordPress Developer</p>
<p class="des">I am a software developer with experience working on complex software development initiatives. I'm also a WordPress Developer with 4 years of experience working on creating and designing WordPress sites using Elementor and Wp bakery.
</p>
<div class="py-3">

    <button class="btnhero">Download Resume </button>
</div>

        </div>
        <div class="col-lg-5">
            <div class="img-col">

                <img src="/assets/images/logo.jpg" style="height: 100%;" alt="Pius"></div>
            </div>
    
   </div>
   </div>


   <!-- ABOUT ME -->
<div class="row bg-light py-5" id="about">
<div class="container py-5">
        <div class="container text-left">

        <p class="tileabout text">INNOVATIVE SOLUTIONS</p>
        <p class="sub py-3">To boost your creative projects</p>
         <p class="desabout">
        I am a software developer with 2 years of experience working on complex software development initiatives. I'm also a WordPress Developer with 4 years of experience working on creating and designing WordPress sites using Elementor and Wp bakery.
I’m passionate about software development and I’m looking forward to getting to work on new projects in the near future.
    </p>
    </div>

</div>
</div>


   <!-- SKILLS -->

<div class="container" id="skills">
    <div class="row py-5" >
    <div class="text-left">

        <p class="tile text">SKILLS</p>
        <p class="sub">To boost your creative projects</p>
    </div>
   

<div class="row" >
                    <div class="col-xl-12">
                        <div class="content-column-content">



                                <!-- Expertise Section        -->
                                <section class="" >
                                    <div class="container py-5">

                                        <div class="row mb-5">
                                            <div class="col-md-6">
                                                <h3 class="h4 fw-bold">
                                                    <span class="SN fw-bold me-2">01</span>Angular
                                                </h3>
                                                <p class="text-muted text-sm ms-4 ps-3">
                                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                                    erat, sed diam voluptua..
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <h3 class="h4 fw-bold">
                                                    <span class="SN fw-bold me-2">02</span> ASP.NET ( C# )
                                                </h3>
                                                <p class="text-muted text-sm ms-4 ps-3">
                                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                                    erat, sed diam voluptua..
                                                </p>
                                            </div>
                                            
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-md-6">
                                                <h3 class="h4 fw-bold">
                                                    <span class="SN fw-bold me-2">03</span>WordPress 
                                                </h3>
                                                <p class="text-muted text-sm ms-4 ps-3">
                                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                                    erat, sed diam voluptua..
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <h3 class="h4 fw-bold">
                                                    <span class="SN fw-bold me-2">04</span>Design
                                                </h3>
                                                <p class="text-muted text-sm ms-4 ps-3">
                                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                                    erat, sed diam voluptua..
                                                </p>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3 class="h4 fw-bold">
                                                    <span class="SN fw-bold me-2">05</span>Others
                                                </h3>
                                                <p class="text-muted text-sm ms-4 ps-3">
                                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                                    erat, sed diam voluptua..
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                               
                                            </div>
                                            
                                        </div> 
                                    </div>
                                </section>

                        </div>
                    </div>
                </div>
    
   </div>
</div>


   <!-- EXPERIENCE -->
<div class="row bg-light" id="experience">
    <div class="container py-5">
        <div class=" container text-left">

        <p class="tile text">EXPERIENCE</p>
        <p class="sub">Yes, I.ve been around.</p>
    </div>
       <div class="row" >
    
   
                <div class="row">
                    <div class="col-xl-12">
                        <div class="content-column-content">

                            <!-- Education Section-->
                            <section class="py-5" id="education">
                                <div class="container">

                                    <!--  Timeline -->
                                    <ul class="timeline">
                                        <!-- Timeline item-->
                                        <li class="timeline-item pb-4">
                                            <div class="timeline-arrow"></div>
                                            <div class="row gx-0 gy-4">
                                                <div class="col-lg-5">
                                                    <p class="date fw-bold mb-2 text-sm">2022 - Present</p>
                                                    <h2 class="h5 mb-0 fw-bold">Software Developer</h2>
                                                    <p class="text-sm mb-0 text-black fw-800">
                                                        Information Engineering Technologies Limited
                                                    </p>
                                                    <span class="small text-muted">Lagos, Nigeria</span>
                                                </div>
                                                <div class="col-lg-7">
                                                    <p class="des py-2">
                                                        <ul>
                                                            <li>Collaborate productively with the product team to understand requirements and business specifications around portfolio management, analytics, and risk.</li>
                                                            <li>Update old code bases to modern development standards, improving functionality.</li>
                                                            <li>Developed software for desktop and mobile operating systems.</li>
                                                            <li>Coordinated with project management on database development timelines.</li>
                                                            <li>Designed intuitive graphical user interfaces to improve user experience.</li>
                                                            <li>Solved complex problems using the latest web technologies.</li>
                                                        </ul>
<b>Skills: Jira · Angular · C# · Microsoft SQL Server · ASP.NET · .NET Framework · Bootstrap · Project Management</b>







                                                    
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Timeline item-->
                                                                                <hr class="dropdown-divider  mb-2">
                                        <li class="timeline-item pb-4">
                                            <div class="timeline-arrow"></div>
                                            <div class="row gx-0 gy-4">
                                                <div class="col-lg-5">
                                                    <p class="date fw-bold mb-2 text-sm">May 2022 - Nov 2022</p>
                                                    <h2 class="h5 mb-0 fw-bold">WordPress Developer</h2>
                                                    <p class="text-sm mb-0">Digitalweb Applications Development Limited</p>
                                                    <span class="small text-muted">Lagos, Nigeria</span>
                                                </div>
                                                <div class="col-lg-7">
                                                    <p class="des py-2">


<ul>
<li>Built WordPress websites using Elementor & WPBakery  </li>
<li> Prepare website proposals to present to clients </li>
<li> Write code using HTML and CSS. </li>
<li> Design new features for existing websites </li>
<li> Customize themes to meet clients’ requirements. </li>
<li> Integrating payment gateway </li>
<li> Manage a user guide to help clients understand site features and management of the website to increase visitor satisfaction and more. </li>

</ul>






 <p>
<b>Skills: WooCommerce · JavaScript · WordPress · Digital Marketing · Graphic Design · HTML</b>
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Timeline item-->
                                                                                <hr class="dropdown-divider  mb-2">
                                        <li class="timeline-item pb-4">
                                            <div class="timeline-arrow"></div>
                                            <div class="row gx-0 gy-4">
                                                <div class="col-lg-5">
                                                    <p class="date fw-bold mb-2 text-sm">Nov 2021 - Feb 2022</p>
                                                    <h2 class="h5 mb-0 fw-bold">Frontend Developer Intern</h2>
                                                    <p class="text-sm mb-0">Innkeeper</p>
                                                    <span class="small text-muted">Lagos, Nigeria</span>
                                                </div>
                                                <div class="col-lg-7">
                                                    <p class="des py-2">

                                                        <ul>
                                                            <li>Implementing web design and development principles to build stable software</li>
                                                            <li>Bringing mock-ups to life using HTML, CSS, and JavaScript. Collaborating closely with the team to support projects during all phases of delivery.</li>
                                                            <li>Building websites and apps that are responsive and usable.</li>
                                                            <li>Monitoring website performance and rectifying front-end-related issues.</li>
                                                            <li>Communicating technical issues in an understandable manner to the team.</li>
                                                            <li>Maintaining an organized workflow using a project management tool (like Trello, or GitHub).</li>

                                                        </ul>



<p>
<b>Skills: Figma (Software) · React.js · JavaScript · Bootstrap · Cascading Style Sheets (CSS) · Project Management · HTML5</b>
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <hr class="dropdown-divider mb-3">
                                        <!-- Timeline item-->
                                        <li class="pb-4">
                                            <div class=""></div>
                                            <div class="row gx-0 gy-1">
                                                <div class="col-lg-5">
                                                    <p class="date fw-bold mb-2 text-sm">2018 - 2021</p>
                                                    <h2 class="h5 mb-0 fw-bold">WordPress Development</h2>
                                                    <p class="text-sm mb-0">Ashconcept Digital solutions</p>
                                                    <span class="small text-muted">Lagos, Nigeria</span>
                                                </div>
                                                <div class="col-lg-7">
                                                    <p class="des">
                                                        

<ul>
<li>Built WordPress websites using Elementor & WPBakery  </li>
<li> Prepare website proposals to present to clients </li>
<li> Write code using HTML and CSS. </li>
<li> Design new features for existing websites </li>
<li> Customize themes to meet clients’ requirements. </li>
<li> Integrating payment gateway </li>
<li> Manage a user guide to help clients understand site features and management of the website to increase visitor satisfaction and more. </li>

</ul>
 <p>
<b>Skills: WooCommerce · JavaScript · WordPress · Digital Marketing · Graphic Design · HTML</b>
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            

                        </div>
                    </div>
                </div>

    
   </div>
</div>
</div>
  

<!-- CONTACT -->
<div class="row" id="contact">
    <div class="col-lg-6">
        <div class="contactInfo ">
            <div class="py-5">
 <h3 class="touch mt-5">Let's get in touch</h3>
                                    <p class="des"> Contact me with the following details or fill up the form with the details. </p>
                                    <div class="info py-2">

                                        <p class="desfoot"> <i class="bi bi-geo-alt"></i> Oworoshoki Lagos, Nigeria</p>
                                    </div>
                                    <div class="info mb-2">

                                         <p class="desfoot"><i class="me-2 bi bi-envelope-fill"></i>Pius1ash@gmail.com</p>
                                    </div>
                                    <div class="info">

                                                                             <p class="desfoot"> <i class="me-1 bi bi-telephone"></i>+2349052794388 </p>
                                    </div>
                                                <div class="social-media">
                <p class="des">Connect with me :</p>
                <div class="social-icons"> <a href="#"> <i class=" foot bi bi-github"></i> </a>
                    <a href="#"> <i class=" foot bi bi-facebook"></i> </a> <a href="#"> <i class="foot bi bi-twitter"></i> </a> <a href="#"> <i class=" foot bi bi-instagram"></i> </a> <a href="#"> <i class="foot bi bi-linkedin"></i> </a> </div>
            </div>
            </div>
                       
                                                        

        </div>
    </div>
    <div class="col-lg-6 contactBg">
        <div class="contactForm">
<form autocomplete="off">
                    <h3 class="title">Contact us</h3>
  <div class="mb-2">

    <input type="email" class="input" id="name" placeholder="Name">
  </div>
  <div class="mb-2">
    <input type="text" class="input" id="email" placeholder="Email Address">
  </div>
  <div class="mb-2">
    <input type="text" class="input" id="phone" placeholder="Phone Number">
  </div>
  <div class="mb-2">
    <textarea name="message" id="message"  placeholder="Enter your message" class="input"></textarea>
  </div>
  
  <div class="mb-2 form-check">
    <input type="checkbox" class="form-check-input" id="verify">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary w-100">Send Message</button>
</form>
        </div>
            <p class="text-white text-center mb-2">
            © 2022 | Pius Ashogbon. All Rights Reserved.
        </p>
    </div>
    

</div>




<!-- CONTACT -->


 


 





